@tailwind components;
@tailwind utilities;

.main{
  margin: 5rem;
}


.appName {
    font-size: 3rem;
    color: blue;
    text-shadow: #9a9a9a 2px 2px 0px;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
}

/* -------------------------------------LOGIN-------------------------------------------------------- */
.login, .register{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
  border: 1px solid #F7F7F8;
  filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8B8E98
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn, .register_btn {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_btn{
  background: #115DFC;
}

.register_btn{
  background: #FF4D4D;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}


/* -------------------------------------REGISTER-------------------------------------------------------- */
 
.registerForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}


.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}


/* ---------------------------------------HOME-------------------------------------------------- */

.navbar {
    background-color: white;
    margin: 1rem 0rem 1rem 0rem;
}
  
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content ;
}

.navbar li {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border: black 2px solid;
} 

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar li:hover, .logout:hover {
    text-decoration: underline black 2px; 
}

.logout{
  background-color: white;
  border: none;
  font-size: 14px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}



/*------------------------------------CREATE-----------------------------------------------  */

.details{
    display:block;
    margin: 1rem 0rem 1rem 0rem;
}


.recipeName, .linkName{
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
}

.linkBox,.recipeName input, .prepTime input, .cookTime input, .servings input, .quantity input, .unit select, .ing input ,.stepNo input, .stepDesc input{
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid blue;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.linkBox:hover ,.recipeName input:hover, .prepTime input:hover, .cookTime input:hover, .servings input:hover, .quantity input:hover, .unit select:hover, .ing input:hover ,.stepNo input:hover, .stepDesc input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
.linkBox:active ,.recipeName input:active, .prepTime input:active, .cookTime input:active, .servings input:active, .quantity input:active, .unit select:active, .ing input:active ,.stepNo input:active, .stepDesc input:active {
    transform: scale(0.95);
  }
  
.linkBox:focus ,.recipeName input:focus, .prepTime input:focus, .cookTime input:focus, .servings input:focus, .quantity input:focus, .unit select:focus, .ing .input:focus  , .stepNo input:focus, .stepDesc input:focus {
    border: 2px solid grey;
  }

.recipeName input{
    min-width: 50%;
    margin-left: 1rem;
}

.prepTime, .cookTime, .servings{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    justify-content: left;
}

.prepTime svg, .cookTime svg, .servings svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0; /* Ensures SVGs don't shrink */
}


.prepTime input, .cookTime input, .servings input {
    width: 50px; 
    box-sizing: border-box;
    text-align: center;
    margin-left: 8px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ingHead, .stepHead{
    font-size: larger;
    color: blue;
    margin-top: 3rem;
}

.ing_list, .step_list, .IngList{
    display: block;
    margin: 1rem 0rem 1rem 0rem;
}

table{
    width: 100%;
    margin-bottom: 1rem;
}

table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 0.5rem;
}


.quantity, .unit, .stepNo, .stepDesc{
    text-align: center;
}

.quantity, .qh, .unit, .uh, .stepH, .stepDH{
    overflow: hidden;
}

.qh, .uh, .dh, .stepH, .stepD{
    width: 1%;
    white-space: nowrap;
}


.deleteIng, .deleteStep{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5rem;
}

.ih, .stepDH{
    border-right: none;
}

.dh,.stepD{
    border: none;
}

.quantity input, .stepNo input{
    text-align: center;
    width: 50px;
    box-sizing: border-box;
}
.ing input, .stepDesc input{
    min-width: 100%;
    box-sizing: border-box;
}
 
.deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
  }
  .deleteButton svg {
    width: 44%;
  }
  .deleteButton:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
  }
  .bin path {
    transition: all 0.2s;
  }
  .deleteButton:hover .bin path {
    fill: #fff;
  }
  .deleteButton:active {
    transform: scale(0.98);
  }
  .tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  .tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
  }
  .deleteButton:hover .tooltip {
    opacity: 1;
  }
  

.addRow, .addStep{
  display: flex;
  align-items: center;
}

.linkButton{
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}

.addRow, .addStep, .linkButton {
    --main-focus: #2d8cf0;
  --font-color: white;
  --bg-color-sub: blue;
  --bg-color: blue;
  --main-color: #dedede;
  position: relative;
  height: 40px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
}



.addRow{
  width: 200px;
}

.addStep{
  width: 150px;
}

.linkButton{
  width: 150px;
}

.addRow .button__icon, .button__text {
    transition: all 0.3s;
  }
  
.addRow .button__text, .addStep .button__text, .linkButton .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
  }
  
.addRow .button__icon {
    position: absolute;
    transform: translateX(150px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.linkButton .button__icon {
    position: absolute;
    transform: translateX(90px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.addStep .button__icon {
    position: absolute;
    transform: translateX(100px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.addRow .svg, .addStep .svg, .linkButton .svg {
    width: 20px;
    stroke: var(--main-color);
  }
  
.addRow:hover , .addStep:hover, .linkButton:hover {
    background: var(--bg-color);
  }
  
.addRow:hover .button__text , .addStep:hover .button__text, .linkButton:hover .button__text {
    color: transparent;
  }
  
.addRow:hover .button__icon {
    width: 148px;
    transform: translateX(20);
  }
  
  
.linkButton:hover .button__icon, .addStep:hover .button__icon {
    width: 148px;
    transform: translateX(-8);
  }
  
.addRow:active, .addStep:active, .linkButton:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }


.addStep, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
.linkButton, .button__icon, .button__text {
    transition: all 0.3s;
  }


.submit{
  --main-focus: #2d8cf0;
  --font-color: white;
  --bg-color-sub: blue;
  --bg-color: blue;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  color: var(--font-color);
  font-weight: 600;
}

.submit:hover {
  background: white;
  color: blue;
}

.backHome{
  --main-focus: #2d8cf0;
  --font-color: blue;
  --bg-color-sub: blue;
  --bg-color: white;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 1rem;
  color: var(--font-color);
  font-weight: 600;
}

.backHome:hover {
  background: var(--main-focus);
  color: white;
}

/* -------------------------------------------------------------------------------------------------------- */


.linkBox{
  max-width: none;
  width: 30%;
}

/* display recipe */
.recipe{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 30px;
  font-weight: bold;
  color: blue;
  width: 100%;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: row;
}


/* Style for each recipe box */
.recipeBox {
  background-color: #dedede; 
  border: #ddd;    
  border-radius: 20px;
  padding: 20px;
  min-width: 220px;      
  box-shadow:  26px 26px 51px #9a9a9a,
  -26px -26px 51px #ffffff;
  margin-bottom: 2rem;
}

.recipeBox:hover{
  background-color: blue;
  color: white;
}

.recipeBox:hover .rName{
  color: white;
}

.rList{
  list-style-type: none;
  padding: 0;
}

.rList li{
  display: inline-block;
  margin-right: 2rem;
}

.rName{
  font-size: 1.5rem;
    font-weight: bold;
    color: blue;
    margin: 0rem 0rem 1rem 0rem;
}

.stepShow{
  list-style-type: none;
  padding: 0;
}

.stepShow li{
  padding-bottom: 0.5rem;
}

/* --------------------------------------VIEW--------------------------------------------------- */

.showName{
  font-size:3rem;
  font-weight: bold;
  color: blue;
  margin: 1rem 0rem 1rem 0rem;
}

.show_prepTime, .show_cookTime, .show_servings{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: left;
}

.showIhead, .showShead{
  color: blue;
  font-weight: bold;
  font-size: 22px;
}

.showQuantity, .showUnit, .showIng, .showNo, .showDesc{
  font-size: 20px;
  padding: 1rem;
  text-align: center;
  color: blue;
}

.pTime, .cTime, .serv{
  color: blue;
  font-size: 20px;
}

.editButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.editButton:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.editButton:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.editButton::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.editButton:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}


.homeButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.homeButton:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(63, 13, 241);
  align-items: center;
}

.homeButton:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.homeButton::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Home";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.homeButton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.buttons{
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

